// Allows the use of rem-calc() or lower-bound() in your settings
@import "../bower_components/foundation/scss/foundation/functions";
/* 
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/
$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

// We use these to define default font stacks
$font-family-sans-serif: "Lato Light", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$theme: default;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Foundation color naming conventions
$white       : #FFFFFF;
$smoke       : #EEEEEE;
$grey        : #999999;
$black       : #000000;

// We use these as default colors throughout
$primary-color: #820053;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// We use these to control various global styles
$body-bg: $white;
$body-font-color: $black;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$header-font-weight: 300;
$header-text-rendering: optimizeLegibility;
$topbar-link-weight: bold;

// Media query breakpoints
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$topbar-breakpoint: em-calc(820);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

@include fontface('Lato Light','lato-light-webfont');
@include fontface('fontello','fontello');