<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="description" value="{{description}}">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes' name='viewport'>
	<!-- inject:css -->
	<!-- endinject -->
</head>
<body>
	<header class="site-header">
		<img class="site-logo" src="{{& logo }}"/>
	</header>
	<p class="lead">
		{{ message }}
	</p>

	
	{{#social}}
		<ul class="inline-list" class="redes">
			{{#facebook}}
			<li><a href="http://www.facebook.com/{{facebook}}">{{facebook}}</a></li>
			{{/facebook}}
			{{#twitter}}
			<li><a href="http://www.twitter.com/{{twitter}}">@{{twitter}}</a></li>
			{{/twitter}}
			{{#instagram}}
			<li><a href="http://www.instagram.com/{{instagram}}">@{{instagram}}</a></li>
			{{/instagram}}
		</ul>
	{{/social}}
	<!-- bower:js -->
	<!-- endbower -->
	<!-- inject:js -->
	<!-- endinject -->
</body>
</html>