<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="description" value="{{description}}">
	<meta name="robots" content="noindex,nofollow">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes' name='viewport'>
	<!-- build:css css/main.min.css -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- endbuild -->
</head>
<body>
	<div class="container">
		<header class="site-header">
			<div class="row">
                <div class="large-5 columns large-centered logo" align="center">
                    <h1><img class="site-logo" src="{{& logo }}" alt="{{ title }}" /></h1>
                </div>
            </div>			
		</header>

		<div class="row">
        	<div class="large-8 columns large-centered text-center">
            	<p class="lead">{{ message }}</p>
            </div>
        </div>

		<div class="row social text-center">
			{{#social}}
				<ul class="inline-list" class="social-list">
					{{#facebook}}
					<li><a class="icon fa-facebook" href="http://www.facebook.com/{{facebook}}">{{facebook}}</a></li>
					{{/facebook}}
					{{#twitter}}
					<li><a class="icon fa-twitter" href="http://www.twitter.com/{{twitter}}">@{{twitter}}</a></li>
					{{/twitter}}
					{{#instagram}}
					<li><a class="icon fa-instagram" href="http://www.instagram.com/{{instagram}}">@{{instagram}}</a></li>
					{{/instagram}}
				</ul>
			{{/social}}
		</div>

		<footer class="site-footer">
			<div class="row">
				<div class="large-12 columns text-center">
					{{#address}}
					<p>{{ address }}</p>
					{{/address}}
					{{#phone}}
					<p>tel: <a href="tel:{{phone}}">{{ phone }}</a></p>
					{{/phone}}
				</div>
			</div>
		</footer>
	</div>
	<!-- build:js js/main.min.js -->
	<!-- bower:js -->
	<!-- endbower -->
	<!-- endbuild -->
</body>
</html>