<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="description" value="{{description}}">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes' name='viewport'>
	<!-- inject:css -->
	<!-- endinject -->
</head>
<body>
	<header class="site-header">
		<img class="site-logo" src="{{ logo }}"/>
	</header>
	<p class="lead">
		{{ message }}
	</p>
	<!-- bower:js -->
	<!-- endbower -->
	<!-- inject:js -->
	<!-- endinject -->
</body>
</html>