<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="description" value="{{description}}">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes' name='viewport'>
	<link rel="stylesheet" href="/assets/css/main.css">	
</head>
<body>
	<header class="site-header">
		<img class="site-logo" src="{{ logo }}"/>
	</header>
	<p class="lead">
		{{ message }}
	</p>
	<script src="/assets/js/modernizr.js"></script>
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/jquery.cookie.js"></script>
	<script src="/assets/js/fastclick.js"></script>
	<script src="/assets/js/foundation.js"></script>
</body>
</html>