[class^="icon-"]:before, [class*=" icon-"]:before 
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none; 
  display: inline-block;
  text-decoration: inherit;
  width: 1.5rem;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */ 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none; 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1.5rem; 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */ 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-behance:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-foursquare:before { content: '\e804'; } /* '' */
.icon-flickr:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */
.icon-gplus-1:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\e809'; } /* '' */
.icon-tumblr:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-vine:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80d'; } /* '' */
.icon-skype:before { content: '\e80e'; } /* '' */
.icon-pinterest:before { content: '\e80f'; } /* '' */