@mixin fontface($name, $font, $svgname){
	$filepath: "../fonts/" + $font;

	@font-face {
	    font-family: quote($name);
	    src: url($filepath + '.eot');
	    src: url($filepath + '.eot?#iefix') format('embedded-opentype'),
	         url($filepath + '.woff') format('woff'),
	         url($filepath + '.ttf') format('truetype'),
	         url($filepath + '.svg#' + $svgname) format('svg');

	    font-weight: normal;
	    font-style: normal;
    }
}

@mixin bodybg($file,$bgcolor){
	$filepath: "../img/" + $file + ".jpg";
	background:$bgcolor url($filepath) no-repeat center center;
	background-size:cover;
}