body{	
	height:100%;
}
.container{
	height:100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around ;
	-webkit-justify-content: space-around ;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	flex-direction: column;
	-webkit-flex-direction: column;

	h1{
		margin-top: 10%;
		margin-bottom: 2rem;
		text-transform: uppercase;
		span{
			display: none;
		}
	}
}
section{
	.content{
	}
}
.social
{
	margin-top: 3rem;
	margin-bottom: 6rem;

	.inline-list > li{
		float: none;
		display: inline-block;
	}
	.icon{

		&:before{
			border-radius:50%;
			border: solid 1px $primary-color;
			width: 2.5rem;
			line-height: 2.5rem;
			margin-right: 0.5rem;
		}
	}
}
footer
{
	p{
		color: $grey;
		margin-bottom: 0.5rem;
	}
}
