$primary-color: #666666;
$secondary-color: #e7e7e7;
$bgimg:grey;
$bgcolor:#fff;
$body-font-color: #666666;
$header-font-color: #999999;

@import "foundation";
@import "main"; 

body{	
	@include bodybg($bgimg,$bgcolor);
}